@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #242424;
  font-family:Arial, Helvetica, sans-serif
}

svg {
  fill: rgba(0, 0, 0, 0.5)
}

svg:hover {
  fill: rgba(0, 0, 0, 0.7);
}